<html>
  <head>
    <title>
      LinkedIn Resume Generator
    </title>
  </head>
  <body>
    <form action="/resume" method="POST">
      <input type="text" name="url" value="https://www.linkedin.com/in/azylman" />
      <input type="radio" name="theme" value="flat" checked/> Flat
      <input type="submit" value="Generate resume">
    </form>
  </body>
</html>

