<html>
  <head>
    <title>
      LinkedIn Resume Generator
    </title>
  </head>
  <body>
    <form action="/resume" method="POST">
      <input type="text" name="url" value="https://www.linkedin.com/in/azylman" />
      {{ range .Themes }}
      <input type="radio" name="theme" value={{ . }} /> {{ . }}
      {{ end }}
      <input type="submit" value="Generate resume">
    </form>
  </body>
</html>

